html{
  height: 100%;
}

#root {
  height: 100%;
  padding-top: 80px;
}

.main-content {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    sans-serif, "Helvetica",Arial,Helvetica,"antoni-web";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: hidden;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
